flows.json
[
    {
        "id": "43dc44354d108903",
        "type": "tab",
        "label": "SERVER_DATA",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c764aca9e6f3185a",
        "type": "group",
        "z": "43dc44354d108903",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "d71c4c53b4871fc7",
            "2b1687789267aa98",
            "b04c56ae5517cc37"
        ],
        "x": 4,
        "y": 75.5,
        "w": 1028,
        "h": 499
    },
    {
        "id": "2b1687789267aa98",
        "type": "group",
        "z": "43dc44354d108903",
        "g": "c764aca9e6f3185a",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "da308d91585975d5",
            "ac28cd5a7318b869",
            "a6207c228cc35382",
            "0fbc9f3267d0a140",
            "2696ab65c04a82da"
        ],
        "x": 494,
        "y": 229,
        "w": 512,
        "h": 132
    },
    {
        "id": "b04c56ae5517cc37",
        "type": "group",
        "z": "43dc44354d108903",
        "g": "c764aca9e6f3185a",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "0672c2e1801ca384",
            "35a982d2d2525635",
            "d8385c9b5205cbbc",
            "15e2cfd42f1437b8",
            "c06742f0ce497fab",
            "6a39edf82a6e4a9d",
            "a927c96ac977bfb5",
            "1d675ead06bebc67",
            "d6c87de6dd3c99f3",
            "4c0b0072a304ebec",
            "651a659f8ebf3319",
            "0092250093fc4694",
            "62e4284459ce9e58",
            "b1ed7086177eb6f7",
            "49d2bfeffdc7c7ba",
            "d018f2a5a21b031f"
        ],
        "x": 174,
        "y": 101.5,
        "w": 302,
        "h": 447
    },
    {
        "id": "d71c4c53b4871fc7",
        "type": "inject",
        "z": "43dc44354d108903",
        "g": "c764aca9e6f3185a",
        "name": "",
        "props": [],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 100,
        "y": 320,
        "wires": [
            [
                "49d2bfeffdc7c7ba",
                "0672c2e1801ca384",
                "a927c96ac977bfb5",
                "d6c87de6dd3c99f3",
                "d8385c9b5205cbbc",
                "c06742f0ce497fab",
                "651a659f8ebf3319",
                "62e4284459ce9e58"
            ]
        ]
    },
    {
        "id": "0672c2e1801ca384",
        "type": "exec",
        "z": "43dc44354d108903",
        "g": "b04c56ae5517cc37",
        "command": "serverdata cpu",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "cpu",
        "x": 250,
        "y": 200,
        "wires": [
            [
                "35a982d2d2525635"
            ],
            [],
            []
        ]
    },
    {
        "id": "da308d91585975d5",
        "type": "join",
        "z": "43dc44354d108903",
        "g": "2b1687789267aa98",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "",
        "propertyType": "full",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "8",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 570,
        "y": 320,
        "wires": [
            [
                "ac28cd5a7318b869"
            ]
        ]
    },
    {
        "id": "35a982d2d2525635",
        "type": "function",
        "z": "43dc44354d108903",
        "g": "b04c56ae5517cc37",
        "name": "ToObject",
        "func": "return {\n    cpu: msg.payload  \n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 200,
        "wires": [
            [
                "da308d91585975d5"
            ]
        ]
    },
    {
        "id": "d8385c9b5205cbbc",
        "type": "exec",
        "z": "43dc44354d108903",
        "g": "b04c56ae5517cc37",
        "command": "serverdata disco-total",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "discoT",
        "x": 250,
        "y": 250,
        "wires": [
            [
                "15e2cfd42f1437b8"
            ],
            [],
            []
        ]
    },
    {
        "id": "15e2cfd42f1437b8",
        "type": "function",
        "z": "43dc44354d108903",
        "g": "b04c56ae5517cc37",
        "name": "ToObject",
        "func": "return {\n    discoT: msg.payload  \n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 250,
        "wires": [
            [
                "da308d91585975d5"
            ]
        ]
    },
    {
        "id": "c06742f0ce497fab",
        "type": "exec",
        "z": "43dc44354d108903",
        "g": "b04c56ae5517cc37",
        "command": "serverdata disco-libre",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "discoL",
        "x": 250,
        "y": 300,
        "wires": [
            [
                "6a39edf82a6e4a9d"
            ],
            [],
            []
        ]
    },
    {
        "id": "6a39edf82a6e4a9d",
        "type": "function",
        "z": "43dc44354d108903",
        "g": "b04c56ae5517cc37",
        "name": "ToObject",
        "func": "return {\n    discoL: msg.payload  \n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 300,
        "wires": [
            [
                "da308d91585975d5"
            ]
        ]
    },
    {
        "id": "a927c96ac977bfb5",
        "type": "exec",
        "z": "43dc44354d108903",
        "g": "b04c56ae5517cc37",
        "command": "serverdata mem-total",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "ramT",
        "x": 250,
        "y": 350,
        "wires": [
            [
                "1d675ead06bebc67"
            ],
            [],
            []
        ]
    },
    {
        "id": "1d675ead06bebc67",
        "type": "function",
        "z": "43dc44354d108903",
        "g": "b04c56ae5517cc37",
        "name": "ToObject",
        "func": "return {\n    ramT: msg.payload  \n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 350,
        "wires": [
            [
                "da308d91585975d5"
            ]
        ]
    },
    {
        "id": "d6c87de6dd3c99f3",
        "type": "exec",
        "z": "43dc44354d108903",
        "g": "b04c56ae5517cc37",
        "command": "serverdata mem-libre",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "ramL",
        "x": 250,
        "y": 400,
        "wires": [
            [
                "4c0b0072a304ebec"
            ],
            [],
            []
        ]
    },
    {
        "id": "4c0b0072a304ebec",
        "type": "function",
        "z": "43dc44354d108903",
        "g": "b04c56ae5517cc37",
        "name": "ToObject",
        "func": "return {\n    ramL: msg.payload  \n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 400,
        "wires": [
            [
                "da308d91585975d5"
            ]
        ]
    },
    {
        "id": "651a659f8ebf3319",
        "type": "exec",
        "z": "43dc44354d108903",
        "g": "b04c56ae5517cc37",
        "command": "serverdata data-rx",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "rx",
        "x": 250,
        "y": 500,
        "wires": [
            [
                "0092250093fc4694"
            ],
            [],
            []
        ]
    },
    {
        "id": "0092250093fc4694",
        "type": "function",
        "z": "43dc44354d108903",
        "g": "b04c56ae5517cc37",
        "name": "ToObject",
        "func": "return {\n    rx: msg.payload\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 500,
        "wires": [
            [
                "da308d91585975d5"
            ]
        ]
    },
    {
        "id": "62e4284459ce9e58",
        "type": "exec",
        "z": "43dc44354d108903",
        "g": "b04c56ae5517cc37",
        "command": "serverdata data-tx",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "tx",
        "x": 250,
        "y": 450,
        "wires": [
            [
                "b1ed7086177eb6f7"
            ],
            [],
            []
        ]
    },
    {
        "id": "b1ed7086177eb6f7",
        "type": "function",
        "z": "43dc44354d108903",
        "g": "b04c56ae5517cc37",
        "name": "ToObject",
        "func": "return {\n    tx: msg.payload\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 450,
        "wires": [
            [
                "da308d91585975d5"
            ]
        ]
    },
    {
        "id": "ac28cd5a7318b869",
        "type": "function",
        "z": "43dc44354d108903",
        "g": "2b1687789267aa98",
        "name": "Query",
        "func": "let d = msg.payload;\n\nlet query = \n`INSERT INTO datos(\n    server,\n    cpu,\n    discoT,\n    discoL,\n    ramT,\n    ramL,\n    tx,\n    rx\n)VALUES(\n    '${d.server}',\n    ${d.cpu},\n    ${d.discoT},\n    ${d.discoL},\n    ${d.ramT},\n    ${d.ramL},\n    ${d.tx},\n    ${d.rx}\n)`;\n\n\n\nreturn {\n    topic: query\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 320,
        "wires": [
            [
                "a6207c228cc35382"
            ]
        ]
    },
    {
        "id": "49d2bfeffdc7c7ba",
        "type": "exec",
        "z": "43dc44354d108903",
        "g": "b04c56ae5517cc37",
        "command": "serverdata host",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "server",
        "x": 250,
        "y": 150,
        "wires": [
            [
                "d018f2a5a21b031f"
            ],
            [],
            []
        ]
    },
    {
        "id": "d018f2a5a21b031f",
        "type": "function",
        "z": "43dc44354d108903",
        "g": "b04c56ae5517cc37",
        "name": "ToObject",
        "func": "if((typeof flow.get('server') === \"undefined\")){\n    flow.set('server', msg.payload);\n}\n\nreturn {\n    server: msg.payload,\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 150,
        "wires": [
            [
                "da308d91585975d5"
            ]
        ]
    },
    {
        "id": "a6207c228cc35382",
        "type": "mysql",
        "z": "43dc44354d108903",
        "g": "2b1687789267aa98",
        "mydb": "a0945b236fb1b99e",
        "name": "ToMariaDB",
        "x": 910,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "0fbc9f3267d0a140",
        "type": "mqtt in",
        "z": "43dc44354d108903",
        "g": "2b1687789267aa98",
        "name": "RECIBO DE DATOS",
        "topic": "PSAII2PE",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5e96fd62a439fdcb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 610,
        "y": 270,
        "wires": [
            [
                "2696ab65c04a82da"
            ]
        ]
    },
    {
        "id": "2696ab65c04a82da",
        "type": "switch",
        "z": "43dc44354d108903",
        "g": "2b1687789267aa98",
        "name": "",
        "property": "payload.server",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Luis.Valle",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 780,
        "y": 270,
        "wires": [
            [
                "ac28cd5a7318b869"
            ]
        ]
    },
    {
        "id": "a0945b236fb1b99e",
        "type": "MySQLdatabase",
        "name": "mariadb",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "examen3p",
        "tz": "",
        "charset": "UTF8MB4"
    },
    {
        "id": "5e96fd62a439fdcb",
        "type": "mqtt-broker",
        "name": "",
        "broker": "http://broker.hivemq.com/",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]